<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>รายละเอียดสินค้า</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="images/404/404.png" alt="" />
                        <div class="card-body">
                            <h1 align="center"><b>ขออภัย!</b>ไม่พบข้อมูลสินค้า</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
