<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div class="container">
            <div class="row my-3">
                <% Object.values(products_obj).forEach(function(obj){ %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="product.html"><img class="card-img-top" src="<%= obj.image%>" alt="" /></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html"><%= obj.name %></a>
                                </h4>
                                <h5>ราคา <%= obj.price %> บาท</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reprehenderit ea iure, rerum debitis ab voluptate delectus doloribus</p>
                            </div>
                        </div>
                    </div>
              <% }) %>
            </div>
        </div>
    </body>
</html>
