<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div class="container">
            <h2>จัดการสินค้า</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ชื่อสินค้า</th>
                        <th>ราคา</th>
                        <th>รายละเอียด</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>กระเป๋า</td>
                        <td>500</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, recusandae.</td>
                        <td><button class="btn btn-danger">ลบ</button></td>
                        <td><button class="btn btn-primary">แก้ไข</button></td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, recusandae.</td>
                        <td><button class="btn btn-danger">ลบ</button></td>
                        <td><button class="btn btn-primary">แก้ไข</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
