<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>รายละเอียดสินค้า</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="images/products/product1.png" alt="" />
                        <div class="card-body">
                            <h3 class="card-title">ชื่อสินค้า</h3>
                            <h4>ราคาสินค้า</h4>
                            <p class="card-text">รายละเอียดสินค้าLorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quo quibusdam iste amet tempora aliquid veniam, enim dolor beatae! Necessitatibus officiis reiciendis mollitia ullam velit fuga earum minima illo cumque?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
