<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
</head>
<body>
    <h1>Product Name</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quod eius atque itaque, libero asperiores praesentium necessitatibus nihil perspiciatis fuga, cupiditate voluptatibus unde optio rem, voluptatum deserunt. Quia, minus expedita!</p>
    <a href="/" target="_self" >กลับหน้าแรก</a>
</body>
</html>